# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/*.xcscheme
!*.xcodeproj/project.xcworkspace/
!*.xcodeproj/project.xcworkspace/contents.xcworkspacedata
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# iOS
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/readme.md

# Build artifacts
build/
DerivedData/

# CocoaPods
Pods/
!Podfile
!Podfile.lock

# Carthage
Carthage/Build

# Swift Package Manager
.swiftpm/
Packages/
Package.resolved

# Bundler
vendor/

# App packaging
*.ipa
*.app.dSYM.zip

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# Code Injection
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
